# FastAPI local development example
APP_ENV=development
APP_NAME=Pawn Loan API
DATABASE_URL=postgresql+psycopg://your_postgres_user:change_me@localhost:5432/pawn_loan_db

JWT_SECRET_KEY=change_me_min_32_chars
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
